<!DOCTYPE html>
<html lang="en">

<head>
    <title>Business Details | YELPIO-Navi</title>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
    <script>
		var lat = <%= @business.latitude %>, 
      		lon = <%= @business.longitude %>,
      		map;
      	var myLatlng = new google.maps.LatLng(lat,lon);	
		function initialize() {
  			var mapOptions = {
    			zoom: 10,
    			center: myLatlng
  			};
  			map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  			
  			var marker = new google.maps.Marker({
      			position: myLatlng,
      			map: map,
      			title: '<%= @business.name %>'
  			});
		}

		google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    
    
</head><!--/head-->

<body>
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						    <div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html">All</a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=restaurant">Restaurants & Foods <i class="fa fa-users"></i></a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=education">Education <i class="fa fa-book"></i></a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=entertainment">Entertainments <i class="fa fa-music"></i></a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=shopping">Shopping <i class="fa fa-shopping-cart"></i></a></h4>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=hotel">Hotels <i class="fa fa-briefcase"></i></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="/welcome/index.html?categorize=beauty">Beauty <i class="fa fa-female"></i></a></h4>
								</div>
							</div>
						</div><!--/category-products-->
					
						<div class="brands_products"><!--brands_products-->
							<h2>Users</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
								  <% @users.each do |user| %>
								    <% linkuser = user.name + " (" + user.reviews.size.to_s + ")" %>
									<li><%= link_to linkuser, user %></li>
								 <% end %>
								</ul>
							</div>
						</div><!--/brands_products-->
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<% tags = "" %>
						<% @business.categories.each do |catego| %>
						<%   tags = tags + catego.downcase() + " " %>
						<% end %>
						<% if (tags.include?"restaurant") || (tags.include?"food") || (tags.include?"restaurants") || (tags.include?"foods") %>
							<% image_main_dir = 'home/restaurant.jpg'%>
							<% image_sub_dir_1 = 'product-details/restaurant_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/restaurant_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/restaurant_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/restaurant_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/restaurant_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/restaurant_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/restaurant_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/restaurant_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/restaurant_similar9.jpg'%>
						<% elsif (tags.include?"education") || (tags.include?"school") || (tags.include?"schools") || (tags.include?"university") || (tags.include?"universities") || (tags.include?"college") || (tags.include?"colleges") %>
							<% image_main_dir = 'home/education.jpg'%>
							<% image_sub_dir_1 = 'product-details/education_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/education_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/education_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/education_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/education_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/education_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/education_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/education_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/education_similar9.jpg'%>
						<% elsif (tags.include?"entertainment") || (tags.include?"film") || (tags.include?"films") || (tags.include?"music") || (tags.include?"entertainments") || (tags.include?"arts")%>
							<% image_main_dir = 'home/entertainment.jpg'%>
							<% image_sub_dir_1 = 'product-details/entertainment_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/entertainment_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/entertainment_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/entertainment_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/entertainment_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/entertainment_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/entertainment_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/entertainment_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/entertainment_similar9.jpg'%>
						<% elsif (tags.include?"shopping") %>
							<% image_main_dir = 'home/shopping.jpg'%>
							<% image_sub_dir_1 = 'product-details/shopping_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/shopping_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/shopping_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/shopping_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/shopping_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/shopping_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/shopping_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/shopping_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/shopping_similar9.jpg'%>
						<% elsif (tags.include?"hotel") || (tags.include?"hotels") %>
							<% image_main_dir = 'home/hotel.jpg' %>
							<% image_sub_dir_1 = 'product-details/hotel_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/hotel_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/hotel_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/hotel_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/hotel_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/hotel_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/hotel_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/hotel_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/hotel_similar9c.jpg'%>
						<% elsif (tags.include?"beauty") || (tags.include?"beauties") %>
							<% image_main_dir = 'home/beauty.jpg' %>
							<% image_sub_dir_1 = 'product-details/beauty_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/beauty_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/beauty_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/beauty_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/beauty_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/beauty_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/beauty_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/beauty_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/beauty_similar9.jpg'%>
						<% else %>
							<% image_main_dir = 'home/yelpio-all.png'%>
							<% image_sub_dir_1 = 'product-details/yelpio_similar1.jpg'%>
							<% image_sub_dir_2 = 'product-details/yelpio_similar2.jpg'%>
							<% image_sub_dir_3 = 'product-details/yelpio_similar3.jpg'%>
							<% image_sub_dir_4 = 'product-details/yelpio_similar4.jpg'%>
							<% image_sub_dir_5 = 'product-details/yelpio_similar5.jpg'%>
							<% image_sub_dir_6 = 'product-details/yelpio_similar6.jpg'%>
							<% image_sub_dir_7 = 'product-details/yelpio_similar7.jpg'%>
							<% image_sub_dir_8 = 'product-details/yelpio_similar8.jpg'%>
							<% image_sub_dir_9 = 'product-details/yelpio_similar9.jpg'%>
						<% end %>
						<div class="col-sm-5">
							<div class="view-product">
								<%= image_tag image_main_dir, :alt => ''%>
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <%= image_tag image_sub_dir_1, :alt => ''%>
										  <%= image_tag image_sub_dir_2, :alt => ''%>
										  <%= image_tag image_sub_dir_3, :alt => ''%>
										</div>
										<div class="item">
										  <%= image_tag image_sub_dir_4, :alt => ''%>
										  <%= image_tag image_sub_dir_5, :alt => ''%>
										  <%= image_tag image_sub_dir_6, :alt => ''%>
										</div>
										<div class="item">
										  <%= image_tag image_sub_dir_7, :alt => ''%>
										  <%= image_tag image_sub_dir_8, :alt => ''%>
										  <%= image_tag image_sub_dir_9, :alt => ''%>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>
							<br></br>
							<div class="fb-like" data-href="#" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								
								<a href="<%=@business.yelp_url%>" target="new" style="text-decoration: none"><h2><div style="color: #FE980F"><%= @business.name %></div></h2></a>
								<p><b>Yelp Business ID:</b>	<%= @business.yelp_real_id %></p>
								<p><b>Address:</b>	<%= @business.full_address %></p>
								<span>
									<span>
										<% index = 1 %>
										<% while index <= @business.stars do index = index + 1 %>
											<i class="fa fa-star"></i>
										<% end %>
										<% if @business.stars - index + 1 > 0 %>
											<i class="fa fa-star-half-o"></i>
								  			<% index = index + 1 %>
								  		<% end %>
								  		<% while index <= 5  do index = index + 1 %>
											<i class="fa fa-star-o"></i>
										<% end %>
									</span>
									<span> <%= @business.stars %> </span>
									<% if user_signed_in? %>
										<form action="/reviews" class="new_review pull-right" id="new_review" method="post">
											<input type="hidden" name="review[content]" value="" />
											<input type="hidden" name="review[stars]" value="5" />
											<input type="hidden" name="review[yelp_user_id]" value="<%=current_user.yelp_user_id%>" />
											<input type="hidden" name="review[yelp_business_id]" value="<%=@business.yelp_business_id%>" />
																
											<div class="actions">
    											<button type="submit" class="btn btn-fefault cart">
    												<i class="fa fa-star"></i>
													I like it
												</button>
  											</div>
										</form>
									<% else %>
										<a href="<%=new_user_session_path%>">
											<button type="button" class="btn btn-fefault cart">
    												<i class="fa fa-star"></i>
													I like it
											</button>
										</a>
									<% end %>
										
								</span>
								<p><b>Availability:</b></p>
								<p><b>Condition:</b></p>
								<p><b>Categories:</b> <%= @business.categories%></p>
								<%= image_tag 'product-details/share.png', :class => 'share img-responsive', :alt => ''%>
								<div id="map-canvas" style="width: 400px; height: 200px"></div>
							</div><!--/product-information-->
						</div>
						
					</div><!--/product-details-->
									
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#businessprofile" data-toggle="tab">Business Profile</a></li>
								<li><a href="#photos" data-toggle="tab">Photos</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews (<%=@business.reviews_count%>)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="businessprofile" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								
							</div>
							
							<div class="tab-pane fade" id="photos" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<%= image_tag 'home/restaurant.jpg', :alt => '' %>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<% min_page = (@current_page <= 2)?(1):(@current_page-1)%>
									<% max_page = (@current_page >= @number_page - 1)?(@number_page):(@current_page+1)%>
									<a href ="?page=<%=min_page%>" >Previous << </a>
									<a href ="?page=1"" >First Page ... </a>
									<% while min_page <= max_page do %>
										<% if min_page == @current_page %>
											<a href ="?page=<%=min_page%>"; style="color: #FE980F; font-size: large"><%= min_page%> </a> 
										<% else %>
											<a href ="?page=<%=min_page%>" ><%= min_page%> </a> 
										<% end %>
										<% min_page = min_page + 1 %>
									<% end %>
									<a href ="?page=<%=@number_page%>"" > ... Last Page (<%=@number_page%>) </a>
									<a href ="?page=<%=max_page%>" ><< Next </a>
									<% if user_signed_in? %>
										<a href="#write">
								 			<button type="button" class="btn btn-default pull-right">
												Write Your Review
											</button>
										</a>
									<% else %>
										<a href="<%=new_user_session_path%>">
											<button type="button" class="btn btn-default pull-right">
												Write Your Review
											</button>
										</a>
									<% end %>
									<br> </br>
									 <% @reviews.each do |review| %>
									 	<% user = review.user %>
									 	<% if user %> 
											<ul>
												<li><a href="/users/<%=user.id%>"><i class="fa fa-user"></i><%= user.name%></a></li>
												<li><a href=""><i class="fa fa-clock-o"></i><%= review.updated_at.to_time.strftime("%I:%M%p") %></a></li>
												<li><a href=""><i class="fa fa-calendar-o"></i><%= review.updated_at.to_date %></a></li>
											</ul>
											<div style="color: #FE980F">
												<% index = 1 %>
												<% while index <= review.stars do index = index + 1 %>
													<i class="fa fa-star"></i>
												<% end %>
												<% if review.stars - index + 1 > 0 %>
													<i class="fa fa-star-half-o"></i>
								  					<% index = index + 1 %>
								  				<% end %>
								  				<% while index <= 5  do index = index + 1 %>
													<i class="fa fa-star-o"></i>
												<% end %>
											</div>
											<p><%= review.content%></p>
											<p> </p>
										<% end %>
								 	<% end %>
								 	
								 	<% min_page = (@current_page <= 2)?(1):(@current_page-1)%>
									<% max_page = (@current_page >= @number_page - 1)?(@number_page):(@current_page+1)%>
									<a href ="?page=<%=min_page%>" >Previous << </a>
									<a href ="?page=1"" >First Page ... </a>
									<% while min_page <= max_page do %>
										<% if min_page == @current_page %>
											<a href ="?page=<%=min_page%>"; style="color: #FE980F; font-size: large"><%= min_page%> </a> 
										<% else %>
											<a href ="?page=<%=min_page%>" ><%= min_page%> </a> 
										<% end %>
										<% min_page = min_page + 1 %>
									<% end %>
									<a href ="?page=<%=@number_page%>"" > ... Last Page (<%=@number_page%>) </a>
									<a href ="?page=<%=max_page%>" ><< Next </a>
									
								 	<% if user_signed_in? %>
										<button id = "write" type="button" class="btn btn-default pull-right">
												Write Your Review As <%= current_user.name%>
										</button>
										<br> </br>

										<form action="/reviews" class="new_review" id="new_review" method="post">
											<textarea name="review[content]" ></textarea>
											<div style="color: #FE980F; font-size: large"><b>Rating </b> </div>
											<br>
											<input name="review[stars]" type="radio" value = "1" class="star {split:4}"> 
											<input name="review[stars]" type="radio" value = "2" class="star {split:4}"/> 
											<input name="review[stars]" type="radio" value = "3" class="star {split:4}"/> 
											<input name="review[stars]" type="radio" value = "4" class="star {split:4}"/> 
											<input name="review[stars]" type="radio" value = "5" class="star {split:4}"/>
											
											<input type="hidden" name="review[yelp_user_id]" value="<%=current_user.yelp_user_id%>" />
											<input type="hidden" name="review[yelp_business_id]" value="<%=@business.yelp_business_id%>" />
											
											<div class="actions">
    											<button type="submit" class="btn btn-default pull-right">
													Submit
												</button>
  											</div>

										</form>
									<% else %>
										<a href="<%=new_user_session_path%>">
											<button id = "write" type="button" class="btn btn-default pull-right">
												Write Your Review
											</button>
										</a>
									<% end %>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">related businesses</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<% for i in 0..2 %>
									  <% business=@related_items[i]%>
									  <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
														<% tags = "" %>
														<% business.categories.each do |catego| %>
														<%   tags = tags + catego.downcase() + " " %>
														<% end %>
													    <% if (tags.include?"restaurant") || (tags.include?"food") || (tags.include?"restaurants") || (tags.include?"foods") %>
															<% image_dir = 'home/restaurant_recommend.jpg'%>
														<% elsif (tags.include?"education") || (tags.include?"school") || (tags.include?"schools") || (tags.include?"university") || (tags.include?"universities") || (tags.include?"college") || (tags.include?"colleges") %>
															<% image_dir = 'home/education_recommend.jpg'%>
														<% elsif (tags.include?"entertainment") || (tags.include?"film") || (tags.include?"films") || (tags.include?"music") || (tags.include?"arts") || (tags.include?"entertainments")%>
															<% image_dir = 'home/entertainment_recommend.jpg'%>
														<% elsif (tags.include?"shopping") %>
															<% image_dir = 'home/shopping_recommend.jpg'%>
														<% elsif (tags.include?"hotel") || (tags.include?"hotels") %>
															<% image_dir = 'home/hotel_recommend.jpg' %>
														<% elsif (tags.include?"beauty") || (tags.include?"beauties") %>
															<% image_dir = 'home/beauty_recommend.jpg' %>
														<% else %>
															<% image_dir = 'home/yelpio-all_recommend.png'%>
														<% end %>
														
														<a href="/welcome/<%=business.yelp_business_id%>" target="new"><%= image_tag image_dir, :alt => '' %></a>
														<a href="/welcome/<%=business.yelp_business_id%>" target="new" style="text-decoration: none"><h2><%= business.name %></h2></a>
														<h4><%= business.reviews.size.to_s + " reviews" %></h4>
														<p><%= business.full_address %></p>
														<p><%= business.categories %></p>
														<star>
											 			  <span>
											    			<% index = 1 %>
											    			<% while index <= business.stars do index = index + 1 %>
												  				<i class="fa fa-star"></i>
															<% end %>
															<% if business.stars - index + 1 > 0 %>
												 		 		<i class="fa fa-star-half-o"></i>
								  				  				<% index = index + 1 %>
								  							<% end %>
								  							<% while index <= 5  do index = index + 1 %>
												  				<i class="fa fa-star-o"></i>
															<% end %>
											 			  </span>
														</star>
												</div>
											</div>
										</div>
									</div>
									<% end %>
								</div>
								
								<div class="item">
									<% for i in 3..5 %>
									  <% business=@related_items[i]%>
									  <div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
														<% tags = "" %>
														<% business.categories.each do |catego| %>
														<%   tags = tags + catego.downcase() + " " %>
														<% end %>
													    <% if (tags.include?"restaurant") || (tags.include?"food") || (tags.include?"restaurants") || (tags.include?"foods") %>
															<% image_dir = 'home/restaurant_recommend.jpg'%>
														<% elsif (tags.include?"education") || (tags.include?"school") || (tags.include?"schools") || (tags.include?"university") || (tags.include?"universities") || (tags.include?"college") || (tags.include?"colleges") %>
															<% image_dir = 'home/education_recommend.jpg'%>
														<% elsif (tags.include?"entertainment") || (tags.include?"film") || (tags.include?"films") || (tags.include?"music") || (tags.include?"arts") || (tags.include?"entertainments")%>
															<% image_dir = 'home/entertainment_recommend.jpg'%>
														<% elsif (tags.include?"shopping") %>
															<% image_dir = 'home/shopping_recommend.jpg'%>
														<% elsif (tags.include?"hotel") || (tags.include?"hotels") %>
															<% image_dir = 'home/hotel_recommend.jpg' %>
														<% elsif (tags.include?"beauty") || (tags.include?"beauties") %>
															<% image_dir = 'home/beauty_recommend.jpg' %>
														<% else %>
															<% image_dir = 'home/yelpio-all_recommend.png'%>
														<% end %>
														
														<a href="/welcome/<%=business.yelp_business_id%>" target="new"><%= image_tag image_dir, :alt => '' %></a>
														<a href="/welcome/<%=business.yelp_business_id%>" target="new" style="text-decoration: none"><h2><%= business.name %></h2></a>
														<h4><%= business.reviews.size.to_s + " reviews" %></h4>
														<p><%= business.full_address %></p>
														<p><%= business.categories %></p>
														<star>
											 			  <span>
											    			<% index = 1 %>
											    			<% while index <= business.stars do index = index + 1 %>
												  				<i class="fa fa-star"></i>
															<% end %>
															<% if business.stars - index + 1 > 0 %>
												 		 		<i class="fa fa-star-half-o"></i>
								  				  				<% index = index + 1 %>
								  							<% end %>
								  							<% while index <= 5  do index = index + 1 %>
												  				<i class="fa fa-star-o"></i>
															<% end %>
											 			  </span>
														</star>
												</div>
											</div>
										</div>
									  </div>
									<% end %>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>

</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>